  .aboutContainer {
    width: 100%;
    height: max(85vh, 45rem);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    h1 {
      font-size: 3rem;
      margin-top: -5rem;
      margin-bottom: 2rem;
    }

    .about {
      width: 80%;
      height:min(fit-content,85%);
      font-size: 2rem;
      line-height: 2.6rem;
      letter-spacing: 0.08rem;
      word-spacing: 0.5rem;
    }

  }
  
  @media (width<=250px){
    .aboutContainer{
      h1{
        font-size: 2rem;
      }
      .about{
        width:90%;
        font-size: 1.5rem;
        line-height: 2rem;
        letter-spacing: 0.05rem;
        word-spacing: 0.3rem;

      }

    }

  }