.navBar {
    position: sticky;
    top: 0%;
    background-color: #F2BED1;
    width: 100%;
    height: min(6rem, 20vw);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 10;
    padding-inline: auto;
    overflow-y: hidden;
    font-size: 1.8rem;

    .image-container {
        width: 50%;
        height: 100%;
        background-color: #F2BED1;
        overflow-y: hidden;

        img {
            width: fit-content;
            height: 100%;
            filter: hue-rotate(300deg);
            background-color: #fac5d80a;
        }
    }

    .navBar_2 {
        background-color: #F2BED1;
        width: 50%;
        height: 100%;
        overflow-y: hidden;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        padding-inline: 1rem;

        >a {
            text-decoration: none;
            margin: 0;
            margin-inline: 1rem;
            padding: 0.8rem;
            color: white;
            background-color: #F2BED1;
            border-radius: 0.4rem;

            &:hover {
                border: 0.03rem solid rgba(232, 229, 229, 0.679);
            }
        }
    }


}


@media (width<=387px) {
    // html {
    //     font-size: 50%;
    // }

    .navBar {
        .image-container {
            img {
                max-width: 90%;
            }
        }
    }

}

@media (width<=278px) {
    html {
        font-size: 40%;
    }

    .navBar {
        .image-container {
            width: 35%;

            img {
                width: 60%;
            }
        }

        .navBar_2 {
            width: 65%;

            a {
                margin-inline: 0.5rem;
                padding: 0.3rem;
            }
        }
    }

}
@media(width<=150px)
{
    html{
        font-size: 30%;
    }
}