.home {
    width: 100%;
    height: max(85vh, 45rem);
    background-color: #FDCEDF;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

    h1 {
        background-color: #fff2f5fe;
        width: fit-content;
        font-size: 5rem;
        margin-top: max(-5rem, -10vh);
        background: linear-gradient(to right, #f793b8 0%, #fd76a8 33%, #f7bc97 34%, #f7bc97 60%, #fd78a9 62%, #fd78a9 100%);
        font-family: sans-serif;
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
        color: transparent;
    }

}

.userDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: max(-5rem, -10vh);
    background-clip: text;

    h2 {
        font-size: 3.3rem;
        width: fit-content;
        background-color: #FDCEDF;
        padding: 1rem;
        margin-bottom: 2rem;

    }

    .usersButton {
        background-color: #F2BED1;
        color: #f9f0f2f5;
        border: 0.07rem solid #F2BED1;
        border-radius: 0.4rem;
        width: fit-content;
        padding: 1.2rem;
        animation: moveInY 0.5s linear infinite;
        text-decoration: none;
        font-size: 1rem;

        &:hover {
            background-color: #fff2f5fe;
            color: #f1b5cb;
            cursor: pointer;
            transition: 0.5s;
            animation: none;

        }
    }

}

@keyframes moveInY {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-10px);
    }

    100% {
        transform: translateY(0);
    }
}


@media (width<=696px) {
    .home {
        h1 {
            font-size: 4rem;
        }

        .userDiv {
            h2 {
                font-size: 3rem;
            }
        }
    }

}

@media (width<=600px) {
    html {
        font-size: 55%;
    }
}

@media (width<=520px) {
    .home {
        h1 {
            font-size: 3rem;
        }

        .userDiv {
            h2 {
                font-size: 2rem;
            }
            .usersButton {
                padding: 0.5rem;
            }
        }
    }

}

@media (width<=380px) {
    html {
        font-size: 44%;
    }
}

@media (width<=301px) {
    .home {
        h1 {
            font-size: 2.5rem;
        }

        .userDiv {
            h2 {
                font-size: 1.5rem;
            }
            .usersButton{
                font-size: 0.7rem;
            }
        }
    }
}
@media (width<=250px) {
    .home {
        h1 {
            font-size: 2rem;
        }
        .userDiv {
            h2 {
                font-size: 1rem;
            }
            .usersButton{
                font-size: 0.5rem;
            }
        }
    }
}
@media (width<=195px) {
    .home {
        h1 {
            font-size: 1.5rem;
        }
        .userDiv {
            h2 {
                font-size: 0.7rem;
            }
            .usersButton{
                font-size: 0.3rem;
            }
        }
    }
}