.container {
    width: 100%;
    height: max(85vh, 55rem);
    // margin-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content:flex-start;
    align-items: center;
    // overflow-y: hidden;

    .buttonContainer {
        display: flex;
        justify-content: center;
        align-items:center;
        height: min(10%,5rem);
        width: 100%;

        button {
            padding: 0.5rem;
            margin-inline: 0.5rem;
            border: 0.02rem solid;
            border-radius: 0.3rem;
            cursor: pointer;

            &:hover {
                background-color: #F2BED1;
                ;
            }
        }
    }

    .usersContainer {
        display: grid;
        width: 98%;
        height: 98%;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 1rem;
        overflow-y: hidden;
        margin:min(1rem,1%);
    }

    .userDiv {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        max-width: 100%;
        height: 95%;
        margin-top: 1rem;
        padding: 0.5rem;

        >div {
            display: flex;
            width: 100%;
            height: 30%;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            line-height: 2rem;
        }

        img {
            width: max(fit-content, 80%);
            height: max(70%, 10rem);
            object-fit: contain;
            border-radius: 0.7rem;
        }

        h1 {
            font-family: sans-serif;
            font-size: 1.8rem;
            overflow-wrap: break-word;
            overflow-y: hidden;
        }

        h3 {
            font-family: sans-serif;
            font-size: 1.5rem;
            font-weight: normal;
            overflow-wrap: break-word;
            overflow-y: hidden;

        }
    }
}

@media (width<=900px) {
    .container {
        height: max(95vh, 95rem);
        .usersContainer {
            grid-template-columns: repeat(2, 1fr);
            // height: max(98%,120rem);
            .userDiv {
                height: 25rem;
                img {
                    object-fit: contain;
                    width: min(fit-content, 90%);
                }

                h1 {
                    font-size: 2rem;
                    overflow-wrap: break-word;
                    overflow-y: hidden;
                }

                h3 {
                    font-size: 1.5rem;
                    overflow-wrap: break-word;
                    overflow-y: hidden;

                }
            }

        }
    }
}

@media (width<=350px) {
    .container {
        height: max(95vh, 177rem);
        .usersContainer {
            grid-template-columns: repeat(1, 1fr);

            .userDiv {
                height: 25rem;

                img {
                    object-fit: contain;
                    width: max(fit-content, 90%);
                }

                h1 {
                    font-size: 2rem;
                    overflow-wrap: break-word;
                    overflow-y: hidden;
                }

                h3 {
                    font-size: 1.5rem;
                    overflow-wrap: break-word;
                    overflow-y: hidden;

                }
            }

        }

    }
}

@media (width<=200px) {

    .container {
        .usersContainer {
            .userDiv {
                height: 20rem;

                img {
                    object-fit: contain;
                    width: max(fit-content, 90%);
                }

                h1 {
                    font-size: 2rem;
                    overflow-wrap: break-word;
                    overflow-y: hidden;
                }

                h3 {
                    font-size: 1.5rem;
                    overflow-wrap: break-word;
                    overflow-y: hidden;

                }
            }

        }

    }

}