.container {
    width: 100%;
    height: 90vh;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .buttonContainer{
        display: flex;
        justify-content:flex-start;
        align-items: center;
        height: fit-content;
        button{
            padding:3px;
            margin:2px;
            border: 0.2px solid;
            cursor: pointer;
            &:hover{
                background-color:#F2BED1;;
            }
        }
    }

    .usersContainer {
        display: grid;
        width: 100%;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 1%;
        height: fit-content;
    }

    .userDiv {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 99%;
        height: fit-content;
        margin-top: 10px;
        padding: 0.5%;

        >div {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }

        img {
            width: fit-content;
            height: 30vh;
            object-fit: contain;
        }

        h1 {
            font-family: sans-serif;
            font-size: larger;
        }

        h3 {
            font-family: sans-serif;
            font-size:medium;
            font-weight: normal;
            
        }
    }
}

@media screen and (max-width: 920px) {
    .container {
        margin-top: 45px;
        .usersContainer {
            grid-template-columns: repeat(2, 1fr);

            .userDiv {
                img {
                    height: 25vh;
                }
                h3{
                    font-size: small;
                }
            }

        }
    }
}

@media screen and (max-width: 605px) {
    .container {
        // margin-top: 38px;
        margin-top: 70px;
        .usersContainer {
            grid-template-columns: repeat(1, 1fr);
          
            .userDiv {
                width: 98%;

                img {
                    height: 10vh;
                }
                h3{
                    font-size: small;
                }
            }

        }

    }
}